*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Microsoft Yahei";
    font-size: 14px;
}
li{
    list-style: none;
}
img{
    border:none;
    border-style:none;
}
a{
    text-decoration: none;
}
.clear {clear: both;}

#banner{
    margin-top: 110px;
    width: 100%;
    height: 260px;
    background-color: #fefdeb;
}
#banner>img{
    display: block;
    width: 1600px;
    height: 260px;
    margin: 0 auto;
}

#main{
    width: 1132px;
    margin: 0 auto;
}
/*sidebar*/
#main .sidebar{
    width: 250px;
    float: left;
    position: relative;
    top: -32px;z-index: 1;
}
#main .sidebar h2.sidebar_title{
    display: block;
    height: 132px;
    background-color: #e42124;
}
#main .sidebar h2.sidebar_title p.title{
    font-family: "Microsoft YaHei Light";
    font-size: 24px;font-weight: lighter;
    color: #fff;padding-top: 40px;margin-left: 20px;
}
#main .sidebar h2.sidebar_title p.subtitle{
    font-family: "Microsoft YaHei Light";
    font-size: 16px;font-weight: lighter;
    color: #fff;margin-left: 20px;
}
#main .sidebar .big_nav{
    position: relative;
    border: 1px solid #ccc;
    border-bottom: none;
}
#main .sidebar .last1{
    border-left: none;
    border-right: none;
}
#main .sidebar .last2{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
}
#main .sidebar .big_nav>a:hover p.text{
    color: #e42124;
}
#main .sidebar .big_nav>a:hover p.en{
    color: #e42124;transition: .4s;
}
#main .sidebar .big_nav>a p.text{
    padding: 25px 0 25px 20px;
    color: #666;transition: .4s;
}
#main .sidebar .big_nav>ul{
    padding-bottom: 15px;
}
#main .sidebar .big_nav>ul>li>a{
    display: block;
    font-size: 14px;font-family: "Microsoft YaHei Light";
    font-weight: lighter;color: #666;margin-left: 20px;
    padding: 5px 0;transition: .4s;
}
#main .sidebar .big_nav>ul>li>a:hover{
    color: #e42124;
    text-decoration: underline;
}
#main .sidebar .big_nav>ul>li:first-child>a{
    padding-top: 0;
}
#main .sidebar .big_nav>a i.icon_arrow{
    display: block;position: absolute;right: 26px;top: 31px;
    width: 5px;height: 9px;background: url("../images/side_bar_arrow.png");
}
#main .sidebar .big_nav>a p.en{
    position: absolute;top: 44px; left: 48px;
    font-family: "Microsoft YaHei Light";font-weight: lighter;
    font-size: 14px; color: #999;
}
#main .sidebar .big_nav>a i.icon{
    display: block; width: 26px; height: 27px;
    position: absolute; left: 12px;top: 30px;
}
#main .sidebar .last1>a p.text,#main .sidebar .last2>a p.text{
    padding-left: 48px;
}
#main .sidebar .last1>a i.icon{
    background: url("../images/Product.png");
}
#main .sidebar .last2>a i.icon{
    background: url("../images/Contact.png");
}
/*content*/
#main .content{
    width: 816px;
    float: right;
}
#main .content .con_title{
    position: relative;overflow: hidden;;
    border-bottom: 1px solid #cfcfcf;
}
#main .content .con_title>h3{
    font-family: "Microsoft YaHei Light";font-weight: lighter;
    font-size: 24px;color: #333;padding: 30px 0 17px 0;float: left;
}
#main .content .way{
    overflow: hidden;position: absolute;right: 0;top: 20px;float: right;
}
#main .content .way span.add{
    line-height: 22px;float: left;
    font-family: '宋体'; font-size: 12px;color: #e42124;
}
#main .content .way>ul{
    overflow: hidden;
}
#main .content .way>ul>li{
    float: left;
}
#main .content .way>ul>li>a{
    font-family: '宋体'; font-size: 12px;color: #666;
}
#main .content .way>ul>li>a:hover{
    text-decoration: underline;
}
#main .content .way>ul>li:last-child>a{
    color: #e42124;
}
/*关于介绍*/
#main .content .synopsis{
    font-family: "Microsoft Yahei Light";
    font-size: 16px;
    color: #000;
    font-weight: lighter;
    margin-top: 28px;
}
#main .content .cooperate{
    padding-left: 20px;
    margin-top: 28px;
}
#main .content .cooperate li{
    list-style: disc outside none;
    padding-bottom: 28px;
}
#main .content .cooperate li .cooperate_title{
    font-family: "Microsoft Yahei Light";
    font-weight: lighter;
    font-size: 16px;
    color: #000;
}
#main .content .cooperate li .cooperate_name{
    font-family: "Microsoft YaHei Bold";
    font-weight: bold;
    font-size: 16px;
    color: #e42124;
}
#main .content .text1{
    font-family: "Microsoft Yahei Light";
    font-weight: lighter;
    font-size: 16px;
    color: #000;
}
#main .content .text2{
    font-family: "Microsoft YaHei Light";
    font-weight: lighter;
    font-size: 16px;
    color: #000;
    margin-top: 28px;
}
#main .content h2.main_title{
    font-family: "Microsoft YaHei Bold"; font-weight: bold;
    font-size: 24px; color: #e42124;margin-top: 30px;
    border-bottom: 1px solid #cfcfcf;padding-bottom: 16px;
}
#main .content>h4{
    font-family: "Microsoft YaHei Bold"; font-weight: bold;
    font-size: 14px; color: #e42124;margin-top: 30px;
}
#main .content>ul{
    margin-top: 30px;
    padding-left: 20px;
}
#main .content>ul li{
    font-family: "Microsoft YaHei Bold";
    list-style: disc outside none;
    font-size: 14px; font-weight: bold;
    color: #000;
}
#main .content .main_text{
    font-family: "Microsoft YaHei Light";font-weight: lighter;
    font-size: 14px; color: #000;
}
#main .content .first{
    margin-top: 30px;
}
#main .content img.main_img{
    margin-top: 40px;
}
#con_bg{
    height: 412px;
    background: url("../images/cooperate_bg.jpg");
}